#gamescreen {
    background-color: black;
    display: block;
    /* Remove the default canvas margin */
    width: 100%;
    height: 100%;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent scrolling */
    width: 100%;
    height: 100%;
}